<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDownloadService" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"/>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDownloadService" messageEncoding="Mtom" maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/DownloadDemo/DownloadService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDownloadService"
        contract="DownloadServiceReference.IDownloadService" name="WSHttpBinding_IDownloadService">
        <identity>
          <userPrincipalName value="xiangdong@berea.irock.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://xiangdong-pc.berea.irock.com/DownloadDemo/DownloadService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDownloadService"
        contract="DownloadServiceReference.IDownloadService" name="NetTcpBinding_IDownloadService">
        <identity>
          <userPrincipalName value="xiangdong@berea.irock.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
